<html>
    <head>
    </head>
    <body>
    
    <style type="text/css">
        table, th, td{
            border: 1px solid black;
        }
    </style>

    
    <table>
        <caption>Tickets Sold during period</caption>
        <th>Airline</th>
        <th>Tickets Sold</th>
    
    {% for line in ticket_amount %}
        <tr>
            <td>{{line['Airline']}}</td>
            <td>{{line['Amount_sold']}}</td>
        </tr>
    {% endfor %}
    </table>



    <table>
        <caption>Tickets Sold during period</caption>
        <th>Month</th>
        <th>Tickets amount</th>
    
    {% for line in month_amount %}
        <tr>
            <td>{{line['Month']}}</td>
            <td>{{line['Amount_sold']}}</td>
        </tr>
    {% endfor %}
    </table>


    <a href="/">Logout</a>
    <a href="/">Go Back</a>

</body>
</html>