<html>

<head>
	<title>Login</title>
</head>

<body>

	<div id='Customer_login'>
		<h2> Customer Login</h2>
		<form action="/CustomerloginAuth" method="POST">

			<label for="Username">Username</label>
			<input type="text" name="username" placeholder="username" required /> </br>

			<label for="Password"> Password </label>
			<input type="password" name="password" placeholder="password" required /></br>

			<input type="submit" value=Login /> <br> <br> </br>
			{% if error %}
			<p class="error"><strong>Error:</strong> {{error}}</p>
			{% endif %}
		</form>
	</div>

	<div id='Staff_login'>
		<h2> Staff Login </h2>
		<form action="/StaffloginAuth" method="POST">

			<label for="Username">Username</label>
			<input type="text" name="username" placeholder="username" required /> </br>

			<label for="Password"> Password </label>
			<input type="password" name="password" placeholder="password" required /></br>

			<input type="submit" value=Login /> </br>
			{% if error %}
			<p class="error"><strong>Error:</strong> {{error}}</p>
			{% endif %}
		</form>
	</div>


	<a href="/">Go back</a>

</body>


</html>