<html>

<head>
</head>

<body>

    <style type="text/css">
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>

    <form action="/purchase" method="post">
        <h2>Departure Flight</h2>
        <table>
            <thead>
                <tr>
                    <th>Airport ID</th>
                    <th>Airline</th>
                    <th>Flight Number</th>
                    <th>Departure Airport</th>
                    <th>Departure Date</th>
                    <th>Departure Time</th>
                    <th>Arrival Airport</th>
                    <th>Arrival Date</th>
                    <th>Arrival Time</th>
                    <th>Price</th>
                    <th>Flight Status</th>
                    <th>Purchase</th>
                </tr>

            </thead>
            <tbody>

                {% for line in DFlight %}
                <tr>
                    <td>{{ line["Airport_ID"] }}</td>
                    <td>{{ line["Airline_Name"] }}</td>
                    <td>{{ line["Flight_Number"] }}</td>
                    <td>{{ line["Departure_Airport"] }}</td>
                    <td>{{ line["Departure_date"] }}</td>
                    <td>{{ line["Departure_time"] }}</td>
                    <td>{{ line["Arrival_Airport"] }}</td>
                    <td>{{ line["Arrival_date"] }}</td>
                    <td>{{ line["Arrival_time"] }}</td>
                    <td>{{ line["BasePrice"] }}</td>
                    <td>{{ line["Flight_status"] }}</td>
                    <td> Select: <input type="radio" name="Dep_Flight" value= "{{ line }}"> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table> <br></br>




        <h2> Return Flight</h2>
        <thead>
            <table>
                <th>Airport ID</th>
                <th>Airline</th>
                <th>Flight Number</th>
                <th>Departure_Airport</th>
                <th>Departure Date</th>
                <th>Departure Time</th>
                <th>Arrival_Airport</th>
                <th>Arrival Date</th>
                <th>Arrival Time</th>
                <th> Price </th>
                <th>Flight Status</th>
                <th> Purchase</th>

        </thead>

        <tbody>

            {% for line in RFlight %}
            <tr>
                <td>{{line["Airport_ID"]}}</td>
                <td>{{line['Airline_Name']}}</td>
                <td>{{line['Flight_Number']}}</td>
                <td>{{line['Departure_Airport']}}</td>
                <td>{{line['Departure_date']}}</td>
                <td>{{line['Departure_time']}}</td>
                <td>{{line['Arrival_Airport']}}</td>
                <td>{{line['Arrival_date']}}</td>
                <td>{{line['Arrival_time']}}</td>
                <td>{{line['BasePrice']}}</td>
                <td>{{line['Flight_status']}}</td>
                <td> Select: <input type="radio" name="Ret_Flight" value= "{{ line }}"> </td>
            </tr>
            {% endfor %}
            </table> <br> </br>

            <input type="submit" value="Purchase">

            {% if error %}
            <p class="error"><strong>Error:</strong> {{error}}</p>
            {% endif %}
    </form>


    <a href="/">Go back</a>

</body>


</html>