<html>

<head>
</head>

<body>

    <style type="text/css">
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>

<br>
    <h2> Future Flights Next 30 Days</h2>
        <table>
            <th>Airport ID</th>
            <th>Flight Number</th>
            <th>Airline</th>
            <th>Departure_Airport</th>
            <th>Departure Date</th>
            <th>Departure Time</th>
            <th>Arrival_Airport</th>
            <th>Arrival Date</th>
            <th>Arrival Time</th>
            <th> Price </th>



            {% for line in Flight %}
            <tr>
                <td>{{line['Airport_ID']}}</td>
                <td>{{line['Flight_Number']}}</td>
                <td>{{line['Airline_Name']}}</td>
                <td>{{line['Departure_Airport']}}</td>
                <td>{{line['Departure_date']}}</td>
                <td>{{line['Departure_time']}}</td>
                <td>{{line['Arrival_Airport']}}</td>
                <td>{{line['Arrival_date']}}</td>
                <td>{{line['Arrival_time']}}</td>
                <td>{{line['BasePrice']}}</td>
            </tr>
            {% endfor %}
        </table><br></br>
     
       <h2> Flight search </h2>
        
       <form action="/searchFlight" method="POST">
       <label>Leaving From:</label>
       <select name="Departure_Airport" required>
           <option value="">Select Departure Airport</option>
           {% for line in Departure%}
           <option value="{{ line['Departure_Airport'] }}">{{ line['Departure_Airport'] }} </option>	
           {% endfor %}	
       </select>
        
       <label> Going To:</label>
       <select name="Arrival_Airport" required>
           <option value="">Select Arrival Airport</option>
           {% for line in Arrival%}
           <option value="{{ line['Arrival_Airport'] }}">{{line['Arrival_Airport']}} </option>	
           {% endfor %}	
       </select> <br></br>

       <label>Start Date:</label>
       <input type="date" name="start_date">

       <label>End Date:</label>
       <input type="date" name="end_date">
        <br></br>
        <input type="submit" value="View">
       </form><br></br>



       <h2> Customers Search </h2>


       <form action="/listCustomers" method="POST" >
           
           <label>Flight Number:</label>
           <select name="Flight_Number" required>
               <option value="">Select Flight Number</option>
               {% for line in Flight_num%}
               <option value="{{ line['flight_number'] }}">{{ line['flight_number'] }} </option>	
               {% endfor %}	
           </select>

           <input type="submit" value="Search"><br><br>
       </form>


    <a href="/stafflogedIn">Go back</a>

</body>


</html>